<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">IP</th>
            <th scope="col">Ubicación</th>
            <th scope="col">Estado</th>
            <th scope="col">Reporte</th>
            <th scope="col">Actualizar</th>
            <th scope="col">...</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mi Máquina</td>
            <td>192.168.0.1</td>
            <td>LocalHost</td>
            <td class="icon-cell"><a href=""><i class="bi bi-exclamation-circle small-icon"></i></a></td>
            <td class="icon-cell"><a href=""><i class="bi bi-file-earmark-bar-graph small-icon"></i></a></td>
            <td class="icon-cell"><i class="bi bi-arrow-clockwise small-icon"></i></td>
            <td class="icon-cell"><i class="bi bi-list small-icon"></i></td>
        </tr>
    </tbody>
</table>