<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">IP</th>
            <th scope="col">Ubicación</th>
            <th scope="col">Estado</th>
            <th scope="col">Reporte</th>
            <th scope="col">Actualizar</th>
            <th scope="col">...</th>
        </tr>
    </thead>
    <tbody *ngFor="let server of servers">
        <tr>

            <td>{{server["name"]}}</td>
            <td>{{server["ip"]}}</td>
            <td>{{server["ubi"]}}</td>
            <td class="icon-cell"><a type="button" (click)="serverStatus(server['ip'])" id="liveToastBtn"><i
                        class="bi bi-exclamation-circle small-icon"></i></a></td>
            <td class="icon-cell"><a (click)="generatePDF(server)"><i class="bi bi-file-earmark-bar-graph small-icon"></i></a></td>
            <td class="icon-cell"><i class="bi bi-arrow-clockwise small-icon"></i></td>
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    !
                </a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Editar</a></li>
                    <li><a class="dropdown-item" href="#">Eliminar</a></li>
                    <li><a type="button" class="dropdown-item" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Reportar Incidente</a></li>
                </ul>
            </div>
        </tr>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Reportar Incidente</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h6>ID: {{server["id"]}}</h6>
                        <h6>NOMBRE: {{server["name"]}}</h6>
                        <h6>IP: {{server["ip"]}}</h6>
                        <h6>LOCATION: {{server["ubi"]}}</h6>
                        <h6>FECHA: {{date}}</h6>
                        <div class="mb-3">
                            <label for="txtTitleIncidente" class="form-label">Titulo del incidente</label>
                            <input class="form-control" id="txtTitleIncidente"></input>
                        </div>
                        <div class="mb-3">
                            <label for="txtAreaIncidente" class="form-label">Detalles del incidente</label>
                            <textarea class="form-control" id="txtAreaIncidente" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary"
                            (click)="guardarIncidente(server,date)">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </tbody>
</table>